* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #e8f4ff;
}

.weather-card {
    width: 350px;
    padding: 35px;
    text-align: center;

    background: white;
    border-radius: 20px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

h1 {
    margin-bottom: 20px;
}

.weather-icon {
    font-size: 70px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.temperature {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
}

.condition {
    font-size: 20px;
    margin-bottom: 25px;
}

.details {
    display: flex;
    justify-content: space-around;

    margin-bottom: 25px;
}

.details div {
    padding: 10px;
}

.details span {
    font-size: 25px;
}

.details p {
    margin: 5px 0;
}

button {
    padding: 12px 25px;

    border: none;
    border-radius: 8px;

    background: #333;
    color: white;

    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

#message {
    margin-top: 15px;
    font-weight: bold;
}
